@import "tailwindcss";

@theme inline {
  --color-primary-green: #00875A;
  --color-secondary-green: #E6F4EA;
  --color-action-red: #D32F2F;
  --color-neutral-white: #FFFFFF;
  --color-soft-gray: #F8F9FA;
  
  --font-sans: var(--font-plus-jakarta), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: var(--color-soft-gray);
  color: #171717;
  font-family: var(--font-sans);
}
